# Day 7: SQL for Data Analysis - Starter Notebook

Welcome to Day 7! This notebook introduces SQL for data analysis tasks.

## Learning Objectives
- Understand relational databases and SQL basics
- Write queries to select, filter, and aggregate data
- Perform JOINs and subqueries
- Use SQL for data analysis tasks

## Instructions
Complete each exercise section below. Refer to `docs/day_7_sql_data_analysis.md` for detailed guidance.

---
## Setup
Run the cell below to set up the database connection.

In [ ]:
# Import required libraries
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

# Connect to the sample SQLite database
db_path = '../data/sample_db.sqlite'
conn = sqlite3.connect(db_path)

# Alternative: Use SQLAlchemy engine
# engine = create_engine(f'sqlite:///{db_path}')

print("Database connection established!")

In [ ]:
# Helper function to run SQL queries and return results as DataFrame
def run_query(query):
    return pd.read_sql_query(query, conn)

# List all tables in the database
tables = run_query("SELECT name FROM sqlite_master WHERE type='table';")
print("Tables in database:")
print(tables)

---
## Exercise 1: Basic SELECT Queries

**Deliverables:**
1. Write SQL queries to select and filter data from a sample table.

**Success Criteria:**
- Queries return correct results
- Filtering and sorting are used appropriately

In [ ]:
# TODO: Write a SELECT query to view all data from a table
# Hint: SELECT * FROM table_name LIMIT 10;

query = """

"""
# run_query(query)

In [ ]:
# TODO: Write a query with WHERE clause to filter results
# Hint: SELECT * FROM table_name WHERE column = value;

query = """

"""
# run_query(query)

In [ ]:
# TODO: Write a query with ORDER BY to sort results
# Hint: SELECT * FROM table_name ORDER BY column DESC;

query = """

"""
# run_query(query)

---
## Exercise 2: Aggregations and Grouping

**Deliverables:**
1. Write queries using GROUP BY and aggregate functions.

**Success Criteria:**
- Aggregated results are correct
- Grouping is used appropriately

In [ ]:
# TODO: Write a query using COUNT
# Hint: SELECT column, COUNT(*) FROM table GROUP BY column;

query = """

"""
# run_query(query)

In [ ]:
# TODO: Write a query using SUM or AVG
# Hint: SELECT column, SUM(value) FROM table GROUP BY column;

query = """

"""
# run_query(query)

---
## Exercise 3: JOINs

**Deliverables:**
1. Write queries joining two or more tables.

**Success Criteria:**
- JOINs return expected results
- Correct use of INNER JOIN, LEFT JOIN

In [ ]:
# TODO: Write an INNER JOIN query
# Hint: SELECT * FROM table1 INNER JOIN table2 ON table1.id = table2.id;

query = """

"""
# run_query(query)

In [ ]:
# TODO: Write a LEFT JOIN query
# Hint: SELECT * FROM table1 LEFT JOIN table2 ON table1.id = table2.id;

query = """

"""
# run_query(query)

---
## Exercise 4: Subqueries

**Deliverables:**
1. Write a query using a subquery to filter results.

**Success Criteria:**
- Subquery returns correct results
- Main query uses subquery output

In [ ]:
# TODO: Write a query with a subquery
# Hint: SELECT * FROM table WHERE id IN (SELECT id FROM other_table WHERE condition);

query = """

"""
# run_query(query)

In [ ]:
# Close the database connection when done
# conn.close()

---
## Validation Checklist

Before proceeding to the next day, verify:
- [ ] Can write basic SELECT queries
- [ ] Can use GROUP BY and aggregate functions
- [ ] Can perform JOINs and subqueries
- [ ] Understands how to use SQL for data analysis